body {
    font-family:'Titillium Web', sans-serif;
}
.card{
  background-color: rgb(225, 225, 225);
  transparency: transparent;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card-img-top{
    align-self: center;
    margin-top:4vh;
    height: 30%;
    width: 50%;
}
.border-top{
  margin-top: 1%;
}
#searchBar{
  width: 25%;
}
.al{
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
    width: 0.35vw;
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(192, 42, 42);
    border-radius: 0.5vw;
  }