body {
    font-family:'Titillium Web', sans-serif;
    background-color: #191919;
    color: white;
}
.card{
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  background-color: rgb(17, 17, 17);
}
.bg-black{
  background-color: #191919;

}
.card-img-top{
    align-self: center;
    margin-top:4vh;
    height: 30%;
    width: 50%;
}
.border-top{
  margin-top: 1%;
}
#searchBar{
  max-width: none;
  min-width: 25%;
}
.al{
  display: flex;
  justify-content: center;
}
.tx{
  color: white;
}
body::-webkit-scrollbar {
    width: 0.35vw;
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(8, 93, 47);
    border-radius: 0.5vw;
  }